---
layout: default
---
<div class="posts">
{% for evt in site.data.eventos.lista %}

<h1>{{ evt.name }}</h1>

<script>console.log(moment.locale());</script>
<script>console.log(moment("{{ evt.startDate }}").format("LLLL"));</script>
 
<table>
 <tr>
    <th>Evento:</th>
    <td>{{ evt.location.name }}</td>
  </tr>
  <tr>
    <th>Artistas:</th>
    <td>
    {% for perf in evt.performer %}
      {{ perf.name | join: ', ' }}
    {% endfor %}
   </td>
  </tr>
  <tr>
    <th>ingresso:</th>
    <td>R$ {{ evt.offers.price }},00</td>
  </tr>
  <tr>
   <th>data:</th>
   <td>
    <script>
     var m = moment("{{ evt.startDate }}").format("LLLL");
     $(this).text(m);
    </script>
   </td>
  </tr>
 
</table>

{% endfor %}
</div>
