---
layout: default
---

<script> console.log({{ site.data.eventos | jsonify }}) </script>


<div class="posts">
{% for evt in site.data.eventos.lista %}
  {% increment i %}
 
<h1>{{ evt.name }}</h1>

<script>console.log(moment.locale());</script>
<script>console.log(moment("{{ evt.startDate }}").format("LLLL"));</script>
 

<table>
 <tr>
    <th>Evento:</th>
    <td>{{ evt.location.name }}</td>
  </tr>
  <tr>
    <th>Artistas:</th>
    <td>
    {% for perf in evt.performer %}
      {{ perf.name | join: ', ' }}
    {% endfor %}
   </td>
  </tr>
  <tr>
    <th>ingresso:</th>
    <td>R$ {{ evt.offers.price }},00</td>
  </tr>
  <tr>
   <th>data:</th>
   <td id=data_do_evento_{{ i }}> </td>
  </tr>
 
</table>

<script>
 var m = moment("{{ evt.startDate }}").format("LLLL");
 console.log("--------------"+m);
 console.log($("#data_do_evento_{{ i }}"));
 $("#data_do_evento_{{ i }}").text(m);
  
 var script = document.createElement( 'script' );
 script.type = 'application/ld+json'; 
 var t = document.createTextNode({{ site.data.eventos | jsonify }});
 script.appendChild(t); 
 $("body").append(script);
  
</script>   
  
  
{% endfor %}
</div>
