<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ site.title | default: site.github.repository_name }} by {{ site.github.owner_name }}</title>

    <link rel="stylesheet" href="{{'assets/css/style.css?v=' | append: site.github.build_revision }}">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href='js/fullcalendar.min.css' rel='stylesheet' />
    <link href='js/fullcalendar.print.css' rel='stylesheet' media='print' />
    <script src='js/moment.js'></script>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src='js/fullcalendar.min.js'></script>
    <script src='js/locale-all.js'></script>


<script>
  
  // criar json-ld, fb open graph e twitter card
  var dados = {{ site.data.output.dados | jsonify }};
  var ld = {"blocos": []};
  ld["@context"] = "http://schema.org";
  dados.forEach(function(d){
    ld.blocos.push({
      "@type": "MusicEvent",
      "location": {
          "@type": "Place",
          "name": d["local da concentracao"],
          "address": d["local da concentracao"] + ", " + d.bairro + ", " + "Rio de Janeiro",
        },
        "name": d.bloco,
        "performer": [
          {
            "@type": "Organization",
            "name": d.bloco
          }
        ],
        "startDate": d.desfile,
        "endDate": d.final
    });
  });

  var script = document.createElement( 'script' );
  script.type = 'application/ld+json';
  var t = document.createTextNode(JSON.stringify(ld),null,2);
  script.appendChild(t);
  $("head").append(script);


  function listarEventos() {
    var dados = {{ site.data.output.dados | jsonify }};
    var eventos = [];
    dados.forEach(function(d){
      eventos.push({
        "title": d.bloco + " - " + d.bairro,
        "start": d.desfile,
        "end": d.final,
        "dados": d
      });
    });
    return eventos;
  }


  $(document).ready(function() {
    
    $('#calendar').fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay,listMonth'
      },
      defaultView: "listMonth",
      // aspectRatio: 0.7,
      locale: "pt-br",
      defaultDate: '2017-02-17',
      navLinks: true, // can click day/week names to navigate views
      editable: false,
      eventLimit: true, // allow "more" link when too many events
      events: listarEventos(),
      timeFormat: 'H:mm', // uppercase H for 24-hour clock

      eventClick: function(evt, jsEvent, view) {
        $(descricao_do_evento).empty();
        // var hora_concentra = moment()
        $(descricao_do_evento)
          .append(` <h2> ${evt.dados.bloco} </h2>
                    <dl>
                      <dt>Concentração: </dt>
                      <dd>${evt.dados["local da concentracao"]}</dd>
                      <dd>${moment(evt.dados["concentração"]).format("LLLL")}</dd>

                      <dt>Bairro: </dt>
                      <dd>${evt.dados["bairro"]}</dd>                

                      <dt>Percurso: </dt>
                      <dd>${evt.dados.percurso}</dd>

                      <dt>Público Estimado: </dt>
                      <dd>${evt.dados["público estimado"]}</dd>


                    </dl>`
                  );

          // .append("<h2>" + evt.dados.bloco + "</h2>")
          // .append("<dl>")
          //   .append("<dt>Local da Concentração: </dt> <dd>" + evt.dados["local da concentracao"])
          //   .append("<dt>Percurso: </dt> <dd>" + evt.dados.percurso)
          // .append("</dd>");
        
        // $(this).css('border-color', 'red');

        $(".selecionado").removeClass("selecionado");
        $(this).addClass("selecionado");
      } 

      // eventMouseover: function(event, jsEvent, view) {
      //   $('.fc-event-inner', this).append('<div id=\"teste\" class=\"hover-end\">'+$.fullCalendar.formatDate(event.end, 'h:mmt')+'</div>');
      // },
      // eventMouseout: function(event, jsEvent, view) {
      //     $('#teste').remove();
      // },

      // eventRender: function(event,element) {
      //   // element.append("<p> teste <p>");
      // }
    });
    
  });

</script>

<style>

  body {
    margin: 40px 10px;
    padding: 0;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    font-size: 14px;
  }

  #calendar {
    max-width: 900px;
    margin: 0 auto;
  }

  .selecionado {
    border-color: yellow;
    border-width: 2 px;
  }

  #descricao_do_evento {
    margin: 40px 10px;
    padding: 10 px;
  }

  .hover-end{padding:0;margin:0;font-size:75%;text-align:center;position:absolute;bottom:0;width:100%;opacity:.8}


</style>

<script type="text/javascript" src="http://platform-api.sharethis.com/js/sharethis.js#property=5893f57031d1490011c3b515"></script>

</head>

  <body>

    <script>
       moment.locale("pt-br");
    </script>
    <div class="wrapper">
      <header>
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        <p>{{ site.description | default: site.github.project_tagline }}</p>

        <div class="sharethis-inline-share-buttons"></div>

        {% if site.github.is_project_page %}
          <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ github_name }}</small></a></p>
        {% endif %}

        {% if site.github.is_user_page %}
          <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
        {% endif %}

        {% if site.show_downloads %}
          <ul>
            <li><a href="assets/download/blocos.ics">Download <strong>Calendário</strong></a></li>
            <li><a href="assets/download/blocos.json">Download <strong>JSON</strong></a></li>
            <li><a href="https://github.com/pauloaug/blocos-rio-2017/tree/gh-pages">View On <strong>GitHub</strong></a></li>
          </ul>
        {% endif %}
      </header>
      <section>

      {{ content }}

      <div id="descricao_do_evento"></div>

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ 'assets/js/scale.fix.js' }}"></script>


  {% if site.google_analytics %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
    </script>
  {% endif %}
  </body>
</html>
